.collection {
  &__container {
    position: absolute;
    border-radius: 2px;
    opacity: 0.800000011920929;
    background: var(--dark-500, #171717);
    height: 106px;
    min-width: 152px;
    max-width: 355px;
    bottom: 50px;
    right: -18px;
    overflow-y: scroll;
  }

  &__plusBtn {
    position: relative;
    width: 36px;
    height: 36px;

    min-width: 40px;
    position: relative;
    cursor: pointer;
    flex-grow: 0;

    cursor: pointer;
  }

  &__item {
    min-width: 70px;
    position: relative;
    cursor: pointer;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    transition: all 0.2s linear;
    z-index: 0;

    &:hover {
      transform: scale(1.1);
      background-color: red;
    }
  }

  &__items {
    display: flex;
    height: 106px;
    align-items: center;
    padding: 0 15px;
    gap: 12px;
  }
}
