.contentContainer {
  display: flex;
  height: calc(100vh - 60px);
  // overflow-y: scroll;
  flex-direction: row;
  scrollbar-width: none;

  // scrollbar-color: var(--disabled) transparent;
  scrollbar-width: none;
 
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // overflow-y: scroll;
  height: 100%;

  // scrollbar-color: var(--disabled) transparent;
  // scrollbar-width: none;

  // &::-moz-scrollbar {
  //   width: 0px;
  //   height: 0px;

  // }
  // scrollbar-width: none;

  // &::-webkit-scrollbar {
  //   width: 0;
  //   height: 0;
  // }

  // &::-moz-scrollbar {
  //   width: 0;
  //   height: 0;
  // }
}
