.contentContainer {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
  flex-direction: row;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  height: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-moz-scrollbar {
    width: 0;
    height: 0;
  }
}
