.app {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
    background: rgba(0, 0, 0, 0.6);
    padding: 0;
    margin: 0;
  }

  &__window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    height: 100vh;
    z-index: 2;
  }

  .wire, .ball {
    stroke-width:2px;
    stroke: rgb(60, 60, 60);
    stroke-linecap:round;
  }
  
}