@use '@/app/mixins.scss' as s;

.editTitle {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px;
  font-weight: 700;

  & .editCancel {
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      color: var(--primary-100);
    }
  }
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  &__wrapper {
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;

    &__user {
      gap: 12px;
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-900);
    white-space: nowrap;
    padding: 0 24px;
  }

  &__area {
    padding: 0 24px;
  }

  &__textarea {
    background: var(--dark-500);
    width: 100%;
    height: 120px;
    outline: none;
    padding: 10px;
    resize: none;
  }

  &__btn {
    padding: 160px 24px 24px 24px;
    text-align: end;
  }
}

@include s.devices(mobile) {
  .post {
    flex-direction: column;
    height: calc(100vh - 120px);

    img {
      margin: 0 auto;
    }
  }
}