.container {
  border: 1px solid var(--dark-300);
  background-color: var(--dark-500);
  border-radius: 0.125rem;
  min-width: 380px;
  text-align: center;
  margin: 95px auto auto;
  padding: 1.57rem 1.3rem 1.5rem 1.3rem;
}
