@use '@/app/mixins.scss' as s;

.form {
  padding-top: 24px;
  width: 494px;
  position: relative;

  &Content{
    padding-bottom: 24px;
  }

  &__label {
    display: block;
    color: var(--light-900, #8d9094);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__required {
    color: var(--danger-500);
  }

  &__textInput {
    width: 100%;
    background: transparent;
    outline: none;
    border-radius: 2px;
    border: 1px solid var(--dark-100, #4c4c4c);
    padding: 6px 12px;
    margin-bottom: 24px;
    transition: all 0.2s linear;

    &:focus {
      border: 1px solid var(--primary-500);
    }

    &__error {
      width: 100%;
      background: transparent;
      outline: none;
      border-radius: 2px;
      padding: 6px 12px;
      margin-bottom: 24px;
      transition: all 0.2s linear;
      border: 1px solid var(--danger-500);
    }
  }

  &__textarea {
    resize: none;
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--dark-100, #4c4c4c);
    background: var(--dark-500, #171717);
    min-height: 84px;
    padding: 5px;
    color: var(--light-900, #8d9094);
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: all 0.2s linear;

    &:focus {
      border: 1px solid var(--primary-500);
    }

    &__error {
      resize: none;
      width: 100%;
      border-radius: 2px;
      border: 1px solid var(--danger-500);
      background: var(--dark-500, #171717);
      min-height: 84px;
      padding: 5px;
      color: var(--light-900, #8d9094);
      font-size: 16px;
      font-weight: 400;
      outline: none;
      transition: all 0.2s linear;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--dark-300);
    padding: 24px 0;
    position: relative;
  }

  &__error {
    color: var(--danger-500);
    position: absolute;
    bottom: 3px;
    left: 0;
    font-size: 12px;
  }

  &__textareaError {
    color: red;
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 11px;

    &__bottom {
      bottom: -24px;
    }
  }

  &__itemWrapper {
    position: relative;
  }
}

@include s.devices(tablet-xl) {
  .form__btn{
    padding-bottom: 84px;
  }
}
