.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper {
  display: grid;
  grid-template-areas:
          'menu profile'
          'menu posts';
  grid-template-columns: 1fr 4.15fr;
}