@use '@/app/mixins.scss' as s;

.button {
     padding: 8px;
     position: fixed;
     right: 10px;
     bottom: 10px;

     &:hover {
          .arrow {
               transition: 1s;
               transform: scale(1.1);
          }
     }
}

@include s.devices(tablet-xl) {
     .button {
          bottom: 70px;

          .arrow {
               width: 30px;
          }
     }
}