@use '@/app/mixins.scss' as s;

.instruction {
  padding-top: 10px;
  max-width: 100%;
  text-align: left;
  color: var(--light-900);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.sendAgain {
  max-width: 100%;
  text-align: left;
  color: var(--light-300);
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}

.authSubmit {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.forgotRedirect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--primary-500);
  padding-bottom: 24px;
  padding-top: 6px;
}

.recaptchaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include s.devices(mobile) {
  .forgotRedirect {
    order: 4;
  }

  .authSubmit {
    order: 3;
    margin-top: 12px;
  }

  .recaptchaContainer {
    padding-top: 55px;
    order: 2;
  }

  .sendAgain {
    margin-top: 107px;
  }
}
