.wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  padding: 35px 60px 43px 24px;

  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
  }
}