.post_container {
  font-size: 14px;
  line-height: 24px;
  width: 100%;

  .post_container_body {
    display: flex;
    flex-direction: row;
    width: 100%;


    .post_container_body_image {
      border-right: var(--dark-100) 1px solid;
      min-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .post_container_body_image_img {
        border-radius: 0 !important;
      }
    }

    .post_container_info {
      position: relative;
      min-width: 50%;




      .post_container_info_header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: lighter;
        border-bottom: var(--dark-100) 1px solid;
        position: relative;

        .post_container_info_header_userData {
          display: flex;
          align-items: center;

          .container_info_header_avatar_img {
            display: block;
            border-radius: 100px;
            width: 36px;
            margin: 0 10px 0 5px;
          }

          span {
            display: block;
            font-weight: bold;
          }
        }

      }

      .postBodyEdit_form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 325px;

        .postBodyEdit_form_text {
          margin-top: 10px;
          padding: 10px;

          p {
            color: #8D9094;
            &:last-child{
              text-align: end;
            }
          }

          .postBodyEdit_textarea {
            background: #171717;
            min-width: 100%;
            height: 100px;
            border: none;
            color: white;
            padding-left: 5px;

            &:focus {
              border: #2f68cc 2px solid;
            }
          }
        }

        .postBodyEdit_btn {
          align-self: end;
        }
      }

      .container_info_footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .container_info_footer_header {
          height: 120px;


          .container_info_footer_header_header {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid var(--dark-100);

            .container_info_footer_header_header_firstEl {
              display: flex;
              width: 12%;
              justify-content: space-between;
            }

            .container_info_footer_header_header_secEl {
              margin-right: 10px;
            }
          }

          img {
            width: 24px;
          }

          .container_info_footer_header_likes {
            padding: 15px;
            display: flex;

            .container_info_footer_header_likes_images {
              font-size: 14px;

              div {
                display: flex;
                flex-direction: row;

                img {
                  width: 24px;
                  height: 24px;
                  border-radius: 100px;
                  margin-left: -10px;

                  &:first-child {
                    margin: 0;
                  }
                }
              }

              div:last-child {
                color: #8D9094;
                font-size: 12px;
              }
            }

            .container_info_footer_header_likes_likesCount {

            }
          }

        }

        form {
          width: 100%;
          border-top: var(--dark-100) 1px solid;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 8px;

          input {
            background: none;
            min-width: 70%;
            border: none;
            color: var(--dark-100);
            padding-left: 5px;
          }

          &:last-child {
            align-self: end;
          }
        }

      }
    }
  }

}


.comment {
  border-bottom: var(--dark-100) 1px solid;
  width: 100%;
  display: flex;
  line-height: 18px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  .comment_body {
    display: flex;

    .comment_avatarBlock {

      .comment_avatarBlock_img {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 100px;
        margin: 5px 10px 5px 5px;

      }
    }


    .comment_commentBody {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 60%;
      max-width: 80%;

      b {
        margin-right: 5px;
      }

      p {
        span {
          font-weight: 600;

          &:last-child:hover {
            text-decoration: underline;
          }
        }

      }
    }
  }

  .comment_like {
    img {
      min-width: 16px;
      margin-right: 20px;
    }

  }
}


.SmartMenu {
  display: block;
  background: #171717;
  min-width: 137px;
  max-height: 85px;
  position: absolute;
  bottom: -75px;
  right: 0;
  font-size: 14px;
  border-radius: 2px;
  padding: 10px;

  .SmartMenu_edit {
    display: flex;
    padding: 5px;

    img {
      width: 24px;
      margin-right: 5px;
    }

    &:hover {
      font-weight: bold;

    }
  }

  .SmartMenu_delete {
    display: flex;
    padding: 5px;
    width: 100%;

    img {
      width: 24px;
      margin-right: 5px;
    }

    &:hover {
      font-weight: bold;
    }
  }

  .post_container_info_comments{
    max-height: 80%;
  }
}


