@use '@/app/mixins.scss' as s;

.container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  overflow-y: auto;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 491px;
}

@include s.devices(laptop) {
  .wrapper {
    grid-template-areas:
      'profile profile'
      'profile profile';
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
