.table{
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .tableHeader{
    width: 100%;
    background-color: #171717;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    div{
      padding: 18px 35px;
      align-self: start;
    }
  }

  .tableBody{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    .tableBodyItem{
      display: flex;
      div{
        width: 100%;
        padding: 18px 25px;
        align-self: start;
        border:#171717 1px solid;
      }
    }
  }
}