.post {
  &__comment {
    display: flex;
    justify-content: start;
    gap: 12px;
    padding: 0 24px 0 24px;
    margin-bottom: 12px;

    svg {
      min-width: 16px;
      margin-top: 10px;
    }

    &__avatar {
      width: 36px;
      min-width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    &__wrapper {
      display: flex;
      gap: 12px;
      justify-content: center;
    }

    &__name {
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    &__text {
      font-size: 13px;
      font-weight: 300;
      line-height: 19px;
    }

    &__container {
      display: flex;
      gap: 12px;
      align-items: center;
      color: var(--light-900);
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
    }

    &__answer {
      cursor: pointer;
    }
  }
}
