@use '@/app/mixins.scss' as s;

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 23%;
}

.post {
  display: flex;
  max-width: 230px;
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.01);
    border: 2px solid var(--primary-500);
  }
}

.container {
  margin: 0 auto;

  &__text {
    font-weight: 600;
    font-size: 24px;
  }
}

@include s.devices(tablet-xl) {
  .imageContainer {
    max-width: 32.2%;
    width: 100%;
  }

  .imageContainer img {
    max-width: 100%;
  }
}

@include s.devices(tablet) {
  .imageContainer {
    max-width: 32.6%;
  }
}
