@use '@/app/mixins.scss' as s;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.imgContainer {
  display: flex;
  margin-top: 585px;
  position: fixed;
}

.slogan {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 19px;
}

.verificationText {
  display: flex;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
}

.resendLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-500);
  padding: 6px 34px;
  border-radius: 0.125rem;
  max-width: 300px;
  width: 100%;
}

@include s.devices(mobile) {
  .container {
    margin-top: 77px;
  }

  .verificationText {
    max-width: 330px;
  }

  .slogan {
    margin-bottom: 13px;
  }

  .resendLink {
    margin-top: 365px;
    max-width: 330px;
    padding: 12px 34px;
  }

  .imgContainer {
    margin-top: 35px;
  }
}

@include s.devices(mobile-sm) {
    .resendLink {
        margin-top: 305px;
    }
}
