.selector {
  &Container {
    width: 100%;
    max-width: 359px;
  }

  &BanUser{
    width: 100%;
    margin-top: 18px;
  }

  &Label {
    display: block;
    color: var(--light-900, #8d9094);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
