.container {
  display: flex;
  flex-direction: column;
  top: 100%;
  color: var(--danger-500);
  text-align: left;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.containerSignUp {
  position: relative;
}

.containerSignUpCheckbox {
  position: static;
}

.containerAbsolute {
  position: absolute;
}
