@use '@/app/mixins.scss' as s;

.gridContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'avatar user user user'
    'avatar subscriptions subscriptions subscriptions'
    'avatar userInfo userInfo userInfo';
}

.avatar {
  grid-area: avatar;
}

.user {
  grid-area: user;
}

.subscriptions {
  grid-area: subscriptions;
}

.userInfo {
  grid-area: userInfo;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 36px 24px 60px 24px;
}

@include s.devices(tablet-xl) {
  .profile__btn {
    display: none;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: min-content 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'avatar avatar subscriptions subscriptions subscriptions'
      'user user user user user'
      'userInfo userInfo userInfo userInfo userInfo';
  }
}

@include s.devices(mobile) {
  .profile {
    gap: 30px;
    padding: 20px 15px;
  }
}
