.modal__content {
  width: 400px;
  background-color: var(--dark-300);
  border-radius: 5px;
  border: 1px solid var(--dark-100);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-100);
}

.modal__footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 12px 0;
  & button:last-child {
    margin-left: 24px;
  }
}
.modal__header {
  padding: 12px;
}

.modal__body {
  max-width: 438px;
  text-align: left;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 24px;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
