.container {
  border: 1px solid var(--dark-300);
  background-color: var(--dark-500);
  border-radius: 0.125rem;
  max-width: 380px;
  text-align: center;
  margin: 84px auto;
  padding: 1.5rem 1.3rem;
  gap: 20px;
}
