@use '@/app/mixins.scss' as s;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.slogan {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 19px;
}

.verificationText {
  display: flex;
  max-width: 300px;
  text-align: center;
  margin-bottom: 54px;
}

.resendLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-500);
  padding: 6px 34px;
  border-radius: 0.125rem;
  max-width: 182px;
  width: 100%;
  margin-bottom: 72px;
}

@include s.devices(mobile) {
    .container {
      margin-top: 77px;
      padding: 0px 12px;
    }

    .verificationText {
        margin-bottom: 65px;
    }

    .resendLink {
        margin-top: 45px;
        padding: 12px 34px;
        max-width: 330px;
        order: 8;
    }
}
