.inputSelector {
  width: 100%;
  background: transparent;
  outline: none;
  border-radius: 2px;
  border: 1px solid var(--dark-100, #4c4c4c);
  padding: 6px 12px;
  margin-bottom: 24px;
  transition: all 0.2s linear;

  &:focus {
    border: 1px solid var(--primary-500);
  }

  &__error {
    width: 100%;
    background: transparent;
    outline: none;
    border-radius: 2px;
    padding: 6px 12px;
    margin-bottom: 24px;
    transition: all 0.2s linear;
    border: 1px solid red;
  }
}

.labelInput {
  display: block;
  color: var(--light-900, #8d9094);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.city__error {
  color: red;
  position: absolute;
  bottom: 118px;
  left: 0;
  font-size: 12px;
}


/* Стили для контейнера с подсказками */
.react-autosuggest__suggestions-container {
  position: absolute;
  top: 435px;
  max-height: 200px; /* Задайте желаемую высоту здесь */
  overflow-y: auto; /* Добавьте вертикальную прокрутку при необходимости */
  left: 0;
  right: 0;
  background-color: var(--dark-300);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;

}

/* Стили для элементов подсказок */
.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--primary-900);
  }
}

/* Стили для активного элемента подсказки */
.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}

/* Стилизация полосы прокрутки при наведении */
.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Стилизация полосы прокрутки */
.react-autosuggest__suggestions-container::-webkit-scrollbar {
  width: 8px; /* Ширина полосы прокрутки */
}

/* Стилизация полосы прокрутки */
.react-autosuggest__suggestions-container::-webkit-scrollbar-thumb {
  background-color: var(--dark-100); /* Цвет полосы прокрутки */
  border-radius: 4px; /* Скругление углов полосы прокрутки */
}