@use '@/app/mixins.scss' as s;

.container {
  display: none;
  position: relative;
}

.settingsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: absolute;

  right: calc(100% - 25px);
  top: calc(100% + 5px);
  width: 165px;

  background-color: var(--dark-500);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  padding: 18px 12px;
  border: 1px solid var(--dark-100);
  border-radius: 0.125rem;

  gap: 24px;
}

.settingsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 12px;
}

.nonActive {
  fill: white;
}

.active {
  fill: var(--primary-500);
}

.modal {
  width: 450px;
  &__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
  }
}

@include s.devices(tablet-xl) {
  .container {
    display: block;
  }
}
