.sessionDelete {
  text-align: center;
  padding: 20px;
  color: red;
}
.devices {
  &__title {
    padding-top: 30px;
    margin-bottom: 6px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    background: var(--dark-500);
    padding: 17px 24px;
    border: 1px solid var(--dark-300);
    border-radius: 2px;
    margin-bottom: 24px;
  }

  &__content {
    &__title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 13px;
    }

    &__address {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    &__status {
      color: var(--info-0);
      font-size: 14px;
      font-weight: 500;
    }
  }
}
