@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
  background: var(--dark-700);
  color: var(--light-100);
}

@layer base {
  :root {
    --dark-100: #4c4c4c;
    --dark-300: #333;
    --dark-500: #171717;
    --dark-700: #0d0d0d;
    --light-100: #ffffff;
    --light-900: #8d9094;
    --primary-100: #73a5ff;
    --primary-500: #397df6;
    --primary-700: #2f68cc;
    --primary-900: #2f68cc;
    --danger-500: #cc1439;
    --info-0: #3677f7;
    --disabled: rgba(227, 227, 227, 0.1);
  }
}
