@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
  background: var(--dark-700);
  color: var(--light-100);
}

@layer base {
  :root {
    --dark-100: #4C4C4C;
    --dark-300: #333;
    --dark-700: #0D0D0D;
    --light-100: #FFFFFF;
    --light-900: #8D9094;
    --primary-500: #397DF6;
    --danger-500: #CC1439;
  }

}



