@use '@/app/mixins.scss' as s;

.container {
  grid-area: profile;
  width: 100%;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-100);
}

.TabsText {
  display: block;
}

.TabsIcon {
  display: none;
}

.Text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-500);
  font-size: 15px;
  line-height: 1.5;
}

.Fieldset {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  color: var(--primary-500);
  display: block;
}

.Input {
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--primary-500);
  box-shadow: 0 0 0 1px var(--primary-500);
  height: 35px;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--primary-500);
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}

.Button.green {
  background-color: var(--primary-500);
  color: var(--primary-500);
}

.Button.green:hover {
  background-color: var(--primary-500);
}

.Button.green:focus {
  box-shadow: 0 0 0 2px var(--primary-500);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;

  &__right {
    width: 100%;

    form {
      width: 100%;
    }
  }

  &__left {
    min-width: 192px;
    position: relative;
    text-align: center;
    padding-top: 50px;
  }

  &__image {
    border-radius: 50%;
    margin: 0 auto 50px auto;
  }

  &__inputFile {
    position: absolute;
    opacity: 0;
    width: 160px;
    cursor: pointer;
  }

  &__loadZone {
    margin: 0 auto 30px auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 2px;
    max-width: 225px;
    text-align: center;
  }
}

/*-----modal-------*/

.modal {
  &__container {
    width: 495px;
    max-height: 80vh;
  }

  &__img {
    margin: 24px auto;
  }

  &__loadImg {
    overflow: scroll;
    max-height: 50vh;
    margin-bottom: 20px;
  }

  &__loadImg svg {
    display: none;
  }

  &__saveBtn {
    text-align: right;
  }
}

@include s.devices(tablet) {
  .container {
    grid-area: profile;
    padding: 0 25px;
  }
  .wrapper {
    gap: 10px;
  }
  .TabsRoot {
    padding-bottom: 50px;
  }
}

@include s.devices(tablet) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__left {
      width: 100%;
      padding-top: 25px;
      max-width: 100%;
    }
  }

  .TabsList {
    overflow-x: scroll;
  }

  .TabsText {
    display: none;
  }
  .TabsTrigger {
    min-width: 50px;
  }
  .TabsIcon {
    display: block;
    height: 30px;
    width: 30px;
  }
}

@include s.devices(mobile) {
  .wrapper {
    &__left button {
      width: 100%;
    }
  }
}
