@use '@/app/mixins.scss' as s;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 100%;
  background-color: var(--dark-700);

  z-index: 10;
}

.container {
  position: fixed;
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-300);
  width: 100%;
  z-index: 10;

  padding: 0px 60px;
  height: 60px;
}

.logo {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: var(--light-100);
}

.notificationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

@include s.devices(tablet) {
  .notificationContainer {
    gap: 12px;
  }
}
@include s.devices(mobile) {
  .container {
    padding: 0px 15px;
  }
}
