.container {
  display: flex;
  padding: 24px 0px;
  justify-content: flex-start;
}

.container label {
  cursor: pointer;
}

.text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 6px;
  svg {
    min-width: 24px;
    min-height: 24px;
  }
}

.checkbox {
  width: 0px;
}

.link {
  color: var(--primary-300);
  text-decoration: underline;

  &:hover {
    color: var(--primary-500);
    text-decoration: none;
  }
}
