.datePicker {
  &__wrapper {
    position: relative;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    position: absolute;
    top: 7px;
    left: calc(100% - 35px);
  }
}

.border {
  width: 100%;
  z-index: 1;
}
.border input {
  outline: none;
  transition: all 0.2s linear;
}

.border :focus-visible {
  border-color: var(--primary-500);
}

.container {
  display: flex;
  width: 100%;

  background: var(--dark-900);
  border: 1px solid var(--dark-100);

  padding: 6px 12px;
  border-radius: 0.125rem;
  margin-bottom: 24px;

  cursor: pointer;
}

.error {
  display: flex;
  font-size: 12px;
  margin-top: -18px;
  color: red;
  z-index: 2;
}

.borderError {
  border: 1px solid var(--danger-500);
}
