@use '@/app/mixins.scss' as s;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--dark-100);
  cursor: pointer;
  width: 163px;
  padding: 6px 12px;
  gap: 12px;
}

.languagesContainer {
  justify-content: flex-start;
  background-color: var(--dark-700);
}

.select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.active {
  border-bottom: 4px solid var(--primary-300) !important;
}

.popOver {
  z-index: 10;
}

@include s.devices(tablet) {
  .container {
    width: 80px;
    gap: 2px;
    justify-content: center;
    border: none;
  }

  .translate_select {
    display: none;
  }

  .container img {
    width: 24px;
    height: 24px;
  }

  .select {
    span {
      display: none;
    }
  }

  .popOver {
    left: 80px;
    top: -35px;
    z-index: 100;
  }

  .languagesContainer {
    position: relative;
    left: 80px;
    top: -35px;
    z-index: 100;
    border: none;

    span {
      display: none;
    }

    img {
      margin: 0;
    }
  }
}

@include s.devices(mobile) {
  .container {
    width: 50px;
    justify-content: center;
    border: none;
  }

  .languagesContainer {
    position: relative;
    left: 50px;
    top: -35px;
    z-index: 100;
    border: none;
    img {
      margin: 0;
    }
  }
}
