.input {
  width: 100%;

  padding: 5px 12px;
  border: 1px solid var(--dark-100);
  border-radius: 0.125rem;
  outline: none;

  color: var(--light-100);
  background-color: transparent;
}

.error {
  border-color: var(--danger-500);
}

.labelContainer {
  text-align: left;
  color: var(--light-900);
  font-size: 14px;
}

.signInContainer {
  padding-top: 27px;
}

.signUpContainer {
  padding-bottom: 24px;
}

.signUpContainerBottom {
  padding-bottom: 6px;
}

.inputContainer {
  display: flex;
  position: relative;
  flex-direction: column;
}

.containerError {
  padding-bottom: 3px;
}
