@use '@/app/mixins.scss' as s;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'menu profile'
    'menu posts';
  grid-template-columns: 1fr 4fr;
}

@include s.devices(tablet-xl) {
  .wrapper {
    grid-template-areas:
    'profile profile'
    'profile profile';
  }
}
