@use '@/app/mixins.scss' as s;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper {
  display: grid;
  grid-template-rows: 285px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    'menu profile'
    'menu posts';
}

@include s.devices(tablet-xl) {
  .wrapper {
    grid-template-areas:
    'profile profile'
    'profile profile';
  }
}
