@use '@/app/mixins' as s;

.container {
  border: 1px solid var(--dark-300);
  background-color: var(--dark-500);
  border-radius: 0.125rem;
  max-width: 380px;
  text-align: center;
  margin: 84px auto;
  padding: 1.5rem;
}

@include s.devices(mobile) {
  .container {
    margin: 77px auto;
    padding: 0 1rem;
    background-color: var(--dark-900);
    border: none;
  }
}
