@use '@/app/mixins.scss' as s;

.container {
  border: 1px solid var(--dark-300);
  background-color: var(--dark-500);
  border-radius: 0.125rem;
  max-width: 380px;
  text-align: center;
  margin: 133px auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
}

@include s.devices(mobile) {
  .container {
    margin: 63px auto;
    border: none;
    background-color: var(--dark-900);
    padding: 0.92rem;
    gap: 1.6rem;
  }
}
