


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-areas:
          'menu profile'
          'menu posts';
}

.nav {
  grid-area: menu;
  height: calc(100vh - 61px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 72px;
  padding-bottom: 36px;
  border-right: 1px solid var(--dark-300);
  width: 190px;
  position: fixed;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    transition: all .2s linear;


    &:hover {
      color: var(--primary-500);
    }

    /* &:focus {
       outline: none !important;
       border-radius: 2px;
       border: 2px solid var(--primary-700, #2F68CC);
     }*/

    &:hover > svg {
      transition: all .2s linear;
      fill: var(--primary-500) !important;
    }
  }

  &__item > svg {
    fill: var(--light-100)
  }

  &__icon {
    fill: var(--light-100);
  }

  &__item__active {
    color: var(--primary-500);
  }

  &__item__active > svg {
    fill: var(--primary-500);
  }

  &__icon__active {
    fill: var(--primary-500);
  }

  &__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    transition: all .2s linear;

    &:hover {
      color: var(--primary-500);
    }

    &__modal {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      margin-top: 50px;

    }
  }

  &__btn > svg {
    fill: var(--light-100);
  }

  &__btn:hover > svg {
    transition: all .2s linear;
    fill: var(--primary-500);
  }


}

.profile {
  grid-area: profile;
  padding-top: 36px;
  padding-left: 227px;
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-bottom: 48px;

  &__avatar {
    border-radius: 50%;
  }

  &__wrapper {
    max-width: 830px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  &__info {
    display: flex;
    gap: 72px;
    margin-bottom: 23px;

    &__subscriptions, &__subscribers, &__publications {
      cursor: pointer;
    }
  }

  &__desc {
    width: 730px;
    word-break: break-all;
  }

  &__posts {
    grid-area: posts;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-left: 228px;
    margin-bottom: 50px;
  }

  &__btn {
    background: var(--dark-300);
    padding: 6px 24px;
    font-size: 16px;
    font-weight: 600;
  }

  &__title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}



