@use '@/app/mixins.scss' as s;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper {
  display: grid;
  grid-template-rows: 285px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    'menu profile'
    'menu posts';
}

.nav {
  grid-area: menu;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  padding: 72px 0px 170px 60px;
  width: 220px;
  border-right: 1px solid var(--dark-300);

  z-index: 10;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      color: var(--primary-500);
    }

    &:hover > svg {
      transition: all 0.2s linear;
      fill: var(--primary-500) !important;
    }
  }

  &__item > svg {
    fill: var(--light-100);
  }

  &__icon {
    fill: var(--light-100);
  }

  &__item__active {
    color: var(--primary-500);
  }

  &__item__active > svg {
    fill: var(--primary-500);
  }

  &__icon__active {
    fill: var(--primary-500);
  }

  &__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    &:hover {
      color: var(--primary-500);
    }

    &__modal {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      width: 100%;
      margin-top: 50px;
    }
  }

  &__btn > svg {
    fill: var(--light-100);
  }

  &__btn:hover > svg {
    transition: all 0.2s linear;
    fill: var(--primary-500);
  }
}

.profile {
  grid-area: profile;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35px 0px 55px 25px;

  &__avatar {
    border-radius: 50%;
    max-width: 200px;
  }

  &__avatar__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 60px 0px 38px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  &__info {
    display: flex;
    gap: 85px;
    padding-bottom: 25px;
    font-size: 14px;

    &__subscriptions,
    &__subscribers,
    &__publications {
      cursor: pointer;
    }

    &__subscriptions :nth-child(1),
    &__subscribers :nth-child(1),
    &__publications :nth-child(1) {
      font-weight: 700;
    }
  }

  &__desc {
    word-break: break-all;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__posts {
    grid-area: posts;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    height: 230px;
    gap: 12px;
    padding: 0px 25px;
  }

  &__btn {
    background: var(--dark-300);
    padding: 6px 24px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.statistics {
  padding-top: 36px;
}

.modal {
  width: 450px;
}

@include s.devices(laptop) {
  .nav {
    padding: 72px 0px 170px 35px;
    width: 180px;
  }

  // .profile {
  //   &__posts {
  //     align-items: center;
  //   }
  // }
}

@include s.devices(tablet-xl) {
  .wrapper {
    display: grid;
    grid-template-rows: 240px;
    grid-template-columns: 12fr;
    padding: 0;
    height: 100%;
    grid-template-areas:
      'profile'
      'posts'
      'menu';
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 60px;
    flex-wrap: wrap;
    background-color: var(--dark-700);
    &__list {
      justify-content: space-evenly;
      flex-direction: row;
      gap: 24px;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      border-top: 1px solid var(--dark-300);
    }
    &__list :nth-child(7) {
      display: none;
      order: 4;
    }
    &__list :nth-child(6) {
      display: none;
      order: 3;
    }
    &__list :nth-child(3) {
      order: 1;
    }

    &__list li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__btn {
      display: none;
    }

    &__item span {
      display: none;
    }
  }

  .profile {
    &__info {
      gap: 33px;
    }
    &__posts {
      height: 107px;
      padding: 0 24px;
      // justify-content: flex-start;
    }
    &__avatar {
      width: 100%;
      min-width: 162px;
    }
    &__btn {
      display: none;
    }
  }

  .statistics {
    display: none;
  }
}

@include s.devices(tablet) {
  .profile {
    &__avatar {
      min-width: 122px;
    }
    &__posts {
      gap: 4px;
    }
  }
}

@include s.devices(mobile) {
  .wrapper {
    grid-template-rows: 220px;
  }
  .profile {
    padding: 24px 15px;
    align-items: flex-start;

    &__avatar__container {
      display: flex;
      position: relative;
      max-width: 25%;
      width: 100%;
      max-height: 72px;
      max-width: 72px;
    }
    &__avatar {
      min-width: 72px;
      max-width: 150px;
      max-height: 150px;
    }
    &__title {
      order: 4;

      position: relative;
      left: -80px;
      top: 10px;

      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
    &__desc {
      order: 6;

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;

      position: relative;
      left: -80px;
      top: 10px;
    }
    &__info {
      height: 100%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
      max-height: 72px;

      gap: 21px;

      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;

      &__subscriptions,
      &__subscribers,
      &__publications {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
        text-align: center;
      }
    }
    &__wrapper {
      padding: 0px 24px 0px 15px;
    }
    &__posts {
      padding: 0 15px;
      gap: 2px;
    }
  }
}
