.popup {


  &__icon {
    cursor: pointer;
  }

  &__container {
    position: absolute;
    background-color: var(--dark-500);
    width: 144px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding-left: 12px;
    top: -2px;
    right: -13px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
      color: var(--primary-500);
    }

    &:hover > svg > g > path {
      transition: all .2s linear;
      fill: var(--primary-500) !important;
    }
  }
}