.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'menu profile'
    'menu profile';
}

.home {
  grid-area: profile;
  flex-direction: column;
  margin: 0 auto;
}


@include s.devices(laptop) {
  .wrapper {
    grid-template-areas:
    'profile profile'
    'profile profile';
  }
}
