.table {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  .tableHeader {
    width: 100%;
    background-color: #171717;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 14px;


    div {
      width: 100%;
      max-width: 210px;
      padding: 12px 0;
      // padding: 18px 35px;
      // padding-left: 24px;
      align-self: start;
    }
    div:nth-child(1) {
      padding-left: 24px;
    }
    div:nth-child(3) {
      max-width: 145px;
      text-align: right;
      padding-right: 72px;
    }
  }

  .tableBody {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    .tableBodyItem {
      display: flex;
      border-bottom: #171717 1px solid;
      div {
        width: 100%;
        max-width: 210px;
        padding: 12px 0;
        // align-self: start;
        // border: #171717 1px solid;
      }
      div:nth-child(1) {
        padding-left: 24px;
      }
      div:nth-child(3) {
        text-align: right;
        padding-right: 72px;
        max-width: 145px;
      }
    }
  }
}
