.post {
  &__likes {
    &__btns {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      padding-right: 24px;
      border-top: 1px solid var(--dark-100);

      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 0 0 0 24px;

        svg {
          cursor: pointer;
        }
      }
    }
  }
}
