.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 12px;
  width: 267px;
  height: 72px;
  border-bottom: 1px solid var(--dark-100);

  .avatar {
    border-radius: 50%;
  }

  .name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}