@use '@/app/mixins.scss' as s;

.selectorsContainer {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

@include s.devices(mobile) {
  .selectorsContainer {
    display: flex;
    flex-direction: column;
  }
}
