@use '@/app/mixins.scss' as s;

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 23%;
}

.imagePost {
  display: flex;
  max-width: 230px;
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.01);
    border: 2px solid var(--primary-500);
  }
}

.post {
  display: flex;
  justify-content: center;
  height: 481px;
  width: 962px;

  &__img {
    width: 491px;
    height: 481px;
  }

  &__container {
    background-color: var(--dark-300);
    width: 480px;
  }

  &__editTitle {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    font-weight: 700;
    border-bottom: 1px solid var(--dark-100);
  }

  &__editCancel:hover {
    cursor: pointer;
  }

  //&__header {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  gap: 230px;
  //  padding: 11px 24px 10px 34px;
  //
  //  &__wrapper {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    gap: 12px;
  //    width: 100%;
  //  }
  //
  //  &__img {
  //    border-radius: 50%;
  //    width: 36px;
  //    height: 36px;
  //  }
  //}
}


.container {
  margin: 0 auto;

  &__text {
    font-weight: 600;
    font-size: 24px;
  }
}

@include s.devices(tablet-xl) {
  .imageContainer {
    max-width: 32.2%;
    width: 100%;
  }

  .imageContainer img {
    max-width: 100%;
  }
}

@include s.devices(tablet) {
  .imageContainer {
    max-width: 32.6%;
  }
}
