.container {
  border: 1px solid var(--dark-300);
  background-color: var(--dark-500);
  border-radius: 0.125rem;
  max-width: 380px;
  text-align: center;
  margin: 133px auto auto;
  padding: 1.5rem 1.5em 1rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
}
