@use '@/app/mixins.scss' as s;
.profile {
  display: flex;
  .blockUser {
    .name {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      line-height: 36px;

      margin: 35px 0px 0px 0px;
      @media (max-width: 740px) {
        font-size: calc(16px + (20 - 16) * ((100vw - 360px) / (740 - 360)));
        margin-top: calc(17px + (35 - 17) * ((100vw - 360px) / (740 - 360)));
      }
    }
    .statistics {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      display: flex;
      gap: 102px;

      margin: 20px 0px 0px 0px;
      @media (max-width: 740px) {
        font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (740 - 360)));
        gap: calc(21px + (102 - 21) * ((100vw - 360px) / (740 - 360)));
        margin-top: calc(0px + (20 - 0) * ((100vw - 360px) / (740 - 360)));
      }
      div p:first-child {
        font-weight: 700;
      }
    }
  }
  .left {
    min-width: 204px;
    margin: 37px 0px 0px 22px;
    @media (max-width: 740px) {
      margin-top: calc(23px + (37 - 23) * ((100vw - 360px) / (740 - 360)));
      margin-left: calc(14px + (22 - 14) * ((100vw - 360px) / (740 - 360)));
      min-width: calc(74px + (204 - 74) * ((100vw - 360px) / (740 - 360)));
    }
    img {
      border-radius: 50%;
    }
  }
  .right {
    .info {
      margin: 0px 63px 0px 40px;
      @media (max-width: 740px) {
        margin-left: calc(13px + (40 - 13) * ((100vw - 360px) / (740 - 360)));
      }
      .top {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1170px) {
          flex-direction: column;
        }

        .btn {
          margin: 42px 0px 0px -200px;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          @media (max-width: 1170px) {
            margin: 35px 0px 0px 0px;
          }
          @media (max-width: 740px) {
            font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (740 - 360)));
          }
          @media (max-width: 632px) {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
          @media (max-width: 532px) {
            margin-top: 63px;
            margin-left: calc(
              -84px + (-151 - (-84)) * ((100vw - 360px) / (532 - 360))
            );
          }
          @media (max-width: 532px) {
            margin-top: calc(
              13px + (63 - 13) * ((100vw - 350px) / (532 - 350))
            );
          }
          .btnPrimary {
            background: var(--primary-500);
            padding: 6px 24px;
            margin-right: 20px;
            @media (max-width: 632px) {
              margin: 0;
            }
          }
          .message {
            background: var(--dark-300);
            padding: 6px 24px;
            @media (max-width: 632px) {
              margin-top: 15px;
            }
          }
        }
      }
      .topMyProfile {
        display: flex;
        justify-content: space-between;
        .btn {
          margin: 42px 0px 0px -210px;
          .settings {
            border-radius: 2px;
            background: #333;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            padding: 9px 24px;
          }
        }
      }
    }
    .descriptions {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 23px 0px 0px 0px;
      @media (max-width: 740px) {
        font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (740 - 360)));
      }
      @media (max-width: 600px) {
        margin-top: calc(8px + (77 - 8) * ((100vw - 300px) / (600 - 300)));
        margin-left: calc(
          -59px + (-180 - (-59)) * ((100vw - 300px) / (600 - 300))
        );
        margin-right: -35px;
      }
    }
    .descriptionsPublic {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 23px 0px 0px 0px;
      @media (min-width: 633px) and (max-width: 720px) {
        margin-top: 47px;
      }
      @media (max-width: 720px) {
        margin-left: calc(
          -42px + (-232 - (-42)) * ((100vw - 260px) / (720 - 260))
        );
      }
    }
  }
}
@include s.devices(tablet-xl) {
  .settings {
    display: none;
  }
}
/*
.info {
  .text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .avatar {
    display: flex;
    position: relative;
    .name {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      line-height: 36px;
      margin: 36px 0px 0px 36px;
    }
    img {
      border-radius: 50%;
      margin: 36px 0px 0px 25px;
    }
  }
  .indicators {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 102px;
    margin: -150px 0px 0px 264px;

    div p:first-child {
      font-weight: 700;
    }
  }
  .btn {
    text-align: right;
    margin: -97px 65px 0px 0px;
  }
  .btnPublic {
    text-align: right;
    margin: -97px 65px 0px 0px;
    @media (max-width: 1100px) {
      text-align: left;
      margin: 36px 0px 0px 265px;
    }
    .btnPrimary {
      background: var(--primary-500);
      padding: 6px 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      margin-right: 20px;
    }
    .message {
      background: var(--dark-300);
      padding: 6px 24px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
@include s.devices(tablet-xl) {
  .settings {
    display: none;
  }
}
*/
